{% extends "layouts/base-fullscreen.html" %}
{% from "includes/_form_helpers.html" import render_field %}

{% block title %} Cambiar contraseña {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Cambiar contraseña</h3>

                    <span class="mb-0 text-muted">
                        {% if change_password_form.password.errors %}
                            {{ change_password_form.password.errors[0] | safe }}
                        {% else %}
                            
                        {% endif %} 
                    </span>

                    <br />
                    <br />
                    
                    <form role="form" method="post" action="">

                        {{ change_password_form.hidden_tag() }}                    
                        
                        {{ render_field(change_password_form.password, "Contraseña antigua") }}
                        {{ render_field(change_password_form.new_password, "Contraseña nueva") }}
                        {{ render_field(change_password_form.new_password_confirm, "Repetir contraseña") }}
                        
                        <button type="submit" name="change_password" class="btn btn-primary shadow-2 mb-4">Aceptar</button>

                    </form>

                    <br />
                </div>
            </div>
        </div>
    </div>

{% endblock content %}