{% extends "layouts/base-fullscreen.html" %}
{% from "includes/_form_helpers.html" import render_field %}

{% block title %} Resetear contraseña {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Resetear contraseña</h3>

                    <br />
                    <br />
                    
                    <form role="form" method="post" action="">

                        {{ reset_password_form.hidden_tag() }}                    
                        
                        {{ render_field(reset_password_form.password, "Contraseña") }}
                        {{ render_field(reset_password_form.password_confirm, "Confirmar contraseña") }}
                                                
                        <button type="submit" name="reset_password" class="btn btn-primary shadow-2 mb-4">Aceptar</button>

                    </form>

                    <br />
                </div>
            </div>
        </div>
    </div>

{% endblock content %}