{% macro render_field(field, placeholder) %}
    <div class="input-group mb-3">
    {{ field(placeholder=placeholder, class="form-control") }}
    </div>
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_field_with_label(field) %}
    <dt>{{ field.label }}
    <div class="input-group mb-3">
    {{ field(class="form-control") }}
    </div>
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_field_with_label_and_placeholder(field, placeholder) %}
    <dt>{{ field.label }}
    <div class="input-group mb-3">
    {{ field(placeholder=placeholder, class="form-control") }}
    </div>
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_table_field(field, placeholder) %}
    <th>
    {{ field(placeholder=placeholder, class="form-control") }}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </th>
{% endmacro %}