{% extends "includes/sidebar-authenticated.html" %}

{% block specific_inner_navbar %}
<li class="nav-item pcoded-menu-caption">
    <label>Gestión de centros</label>
</li>
<li data-username="form elements advance componant validation masking wizard picker select" 
    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
    <a href="{{ url_for('prefall_blueprint.detalles_centro', id_centro=current_user.id_centro) }}" class="nav-link">
        <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
        <span class="pcoded-mtext">Centro</span>
    </a> 
    <a href="{{ url_for('prefall_blueprint.crear_user') }}" class="nav-link">
        <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
        <span class="pcoded-mtext">Crear usuario</span>
    </a>   
</li>
{% endblock %}