{% extends "includes/sidebar-authenticated.html" %}

{% block specific_inner_navbar %}
<li class="nav-item pcoded-menu-caption">
    <label>Gestión de centros</label>
</li>
<li data-username="Table bootstrap datatable footable" 
    class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
    <a href="{{ url_for('prefall_blueprint.crear_centro') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Crear centro</span></a>
</li>
{% endblock %}