{% extends "layouts/base.html" %}

{% block content %}
<ul class="nav-plots">
    <li {% if active_tab == 'individual' %}class="active"{% endif %}>
        <a href="{{ url_for('prefall_blueprint.plots_individual') }}">Individual</a>
    </li>
    <li {% if active_tab == 'comparacion' %}class="active"{% endif %}>
        <a href="{{ url_for('prefall_blueprint.plots_comparativa') }}">Comparación de pacientes</a>
    </li>
</ul>
<div id="content">
    {% block plots %}{% endblock plots %}
</div>
{% endblock %}