{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    {% if current_user.is_authenticated %}
                    <h1>Loged</h1>
                    <a href="{{url_for('security.change_password')}}">Cambiar contraseña</a>
                    {% endif %}
                    <br>
                    {% if current_user.has_role('auxiliar') %}
                    <a href="{{url_for('prefall_blueprint.crear_paciente')}}" >Crear paciente</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
