{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Lista de centros {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card-header">
                        <h5>Centros</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre fiscal</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for centro in centros %}
                                    <tr class="unread">
                                        <td>
                                            <h6 class="text-muted">{{centro["nombreFiscal"]}}</h6>
                                        </td>
                                        <td><a href="{{url_for('prefall_blueprint.detalles_centro', id_centro=centro['id'])}}" class="label theme-bg text-white f-12">Ver detalles</a></td>
                                    </tr> 
                                    {% endfor %}                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
