{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Lista de centros {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Centros</h5>
                        </div>
                        <div id="tabulator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var centrosData = {{centros_data | tojson | safe}};
        var columns = [
            { title: "Nombre fiscal", field: "nombreFiscal", headerFilter:true },
            {
                title: "",
                field: "id", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    return '<a href="/detalles_centro/' + cell.getValue() + '" class="label theme-bg text-white f-12 center">Ver detalles</a>';
                }
            },
            {
                title: "",
                field: "id", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    const postId = cell.getValue(); 
                    const nombre = cell.getRow().getData().nombreFiscal;

                    const button = document.createElement("button");
                    button.textContent = "Borrar";
                    button.addEventListener("click", function () {
                        const confirmed = window.confirm("Seguro que quieres borrar " + nombre + "?");
                        if(confirmed){
                            fetch("/borrar_centro/" + postId, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                }
                            })
                            .then(response => {
                            if (response.ok) {
                                response.json().then(data => {
                                    console.log("Received data:", data);
                                    window.location.reload();
                                });
                            } else {
                                response.json().then(errorData => {
                                    console.error("Error:", errorData.error);
                                    
                                    alert(errorData.error);
                                });
                            }
                            })
                            .catch(error => {
                            console.error("Error:", error);
                            });
                        }
                        });

                    // Return the button element
                    return button;
                }
            },
        ];

        var table = new Tabulator("#tabulator", {
            data: centrosData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:10,
            paginationCounter:"rows",
            movableColumns:true,
        });
    </script>

{% endblock %}
