{% extends "layouts/base-fullscreen.html" %}
{% from "includes/_form_helpers.html" import render_field %}

{% block title %} Crear usuario {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Crear usuario</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            
                        {% endif %} 
                    </span>

                    <br />
                    <br />
                    
                    <form role="form" method="post" action="">

                        {{ form.hidden_tag() }}                    

                        {{ render_field(form.identificador, "Identificador") }}
                        {{ render_field(form.nombre, "Nombre") }}
                        {{ render_field(form.apellidos, "Apellidos") }}
                        {{ render_field(form.email, "Email") }}
                        {{ render_field(form.username, "Username") }}
                        {{ render_field(form.password, "Password") }}
                        {{ render_field(form.fecha, "Fecha de nacimiento") }}
                        {{ render_field(form.sexo, "Sexo") }}
                        {{ render_field(form.altura, "Altura") }}
                        {{ render_field(form.peso, "Peso") }}
                        {{ render_field(form.tipo) }}
                        
                        
                        <button type="submit" name="create_user" class="btn btn-primary shadow-2 mb-4">Crear</button>

                    </form>

                    <br />
                </div>
            </div>
        </div>
    </div>
    <script>
        var tipoField = document.querySelector("#{{ form.tipo.id }}");
    
        var alturaField = document.querySelector("#{{ form.altura.id }}");
        var pesoField = document.querySelector("#{{ form.peso.id }}");
    
        function toggleFieldsVisibility() {
            var selectedTipo = tipoField.value;
    
            if (selectedTipo === "paciente") {
                alturaField.style.display = "block";
                pesoField.style.display = "block";
            } else {
                alturaField.style.display = "none";
                pesoField.style.display = "none";
            }
        }
    
        // Initial call to set the initial visibility state
        toggleFieldsVisibility();
    
        // Add an event listener to the "Tipo" field to update visibility when it changes
        tipoField.addEventListener("change", toggleFieldsVisibility);
    </script>

{% endblock content %}
