{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Detalles personales {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Detalles personales</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Identificador</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["identificador"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Nombre</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["nombre"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Apellidos</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["apellidos"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Fecha de nacimiento</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["fecha_nacimiento"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Sexo</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["sexo"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Altura</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["altura"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Peso</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["peso"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td class="text-right"></td>
                                            <td>
                                                <a href="{{url_for('prefall_blueprint.editar_detalles_personales', id=paciente['id'])}}" class="label theme-bg text-white f-12">Editar</a>
                                            </td>
                                        </tr>                           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <form method=post enctype=multipart/form-data>
                        <div class="form-group">
                            {{ uploadTestForm.csrf_token }}
                            {{uploadTestForm.test.label}}
                            {{uploadTestForm.test(class="form-control-file")}}
                            <br>
                            {{uploadTestForm.submitUploadTest(class="label theme-bg text-white f-12 btn-rounded")}}
                            {% if uploadTestForm.test.errors %}
                                <ul class=errors>
                                {% for error in uploadTestForm.test.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </form>
                    <div class="card-Recent-Users">
                        <div class="card-header">
                            <h5>Tests de la marcha</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div id="tabulator-tests"></div>
                        </div>
                    </div>
                    <div class="card-Recent-Users">
                        <div class="card-header">
                            <h5>Medicos asociados</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div id="tabulator-medicos-asociados"></div>
                        </div>
                    </div>
                    <div class="card-Recent-Users">
                        <div class="card-header">
                            <h5>Medicos</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div id="tabulator-medicos"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var pacienteId = {{ paciente["id"] }}; 
        var medicosData = {{ medicos_data | tojson | safe }};
        var columns = [
            { title: "Id", field: "id", headerFilter:true },
            { title: "DNI", field: "identificador", headerFilter:true },
            { title: "Nombre", field: "nombre", headerFilter:true },
            { title: "Apellidos", field: "apellidos", headerFilter:true },
            {
                title: "",
                field: "id", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    var medicoId = cell.getValue(); // Get medico ID from the cell value

                    var url = "/asociar_medico/" + pacienteId + "/" + medicoId;

                    var link = document.createElement("a");
                    link.href = url;
                    link.className = "label theme-bg text-white f-12";
                    link.textContent = "Asociar médico";

                    return link;
                }
            }
        ];

        var table = new Tabulator("#tabulator-medicos", {
            data: medicosData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:5,
            paginationCounter:"rows",
            movableColumns:true,
        });


        var medicosAsociadosData = {{ medicos_asociados_data | tojson | safe }};
        var columns = [
            { title: "Id", field: "id", headerFilter:true },
            { title: "DNI", field: "identificador", headerFilter:true },
            { title: "Nombre", field: "nombre", headerFilter:true },
            { title: "Apellidos", field: "apellidos", headerFilter:true },
            {
                title: "",
                field: "id", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    var medicoId = cell.getValue(); // Get medico ID from the cell value

                    var url = "/desasociar_medico/" + pacienteId + "/" + medicoId;

                    var link = document.createElement("a");
                    link.href = url;
                    link.className = "label theme-bg text-white f-12";
                    link.textContent = "Desasociar médico";

                    return link;
                }
            }
        ];

        var table = new Tabulator("#tabulator-medicos-asociados", {
            data: medicosAsociadosData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:5,
            paginationCounter:"rows",
            movableColumns:true,
        });

        var testsData = {{ tests_data | tojson | safe }};
        var columns = [
            { title: "Numero", field: "num_test", headerFilter:true },
            { title: "Fecha", field: "date", headerFilter:true },
            {
                title: "",
                field: "num_test", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    var num_test = cell.getValue(); // Get medico ID from the cell value

                    var url = "/get_test/" + pacienteId + "/" + num_test;

                    var link = document.createElement("a");
                    link.href = url;
                    link.className = "label theme-bg text-white f-12";
                    link.textContent = "Descargar";

                    return link;
                }
            }
        ];

        var table = new Tabulator("#tabulator-tests", {
            data: testsData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:5,
            paginationCounter:"rows",
            movableColumns:true,
        });
    </script>

{% endblock %}
