{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Detalles clinicos {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Detalles personales</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Identificador</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["identificador"]}}</h6>
                                            </td>
                                        </tr>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Nombre</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["nombre"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Fecha de nacimiento</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["fecha_nacimiento"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Sexo</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["sexo"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Altura</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["altura"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Peso</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["peso"]}}</h6>
                                            </td>
                                        </tr>  
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Antecedentes clinicos</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["antecedentes_clinicos"]}}</h6>
                                            </td>
                                        </tr>
                                        <tr class="unread">
                                            <td class="text-right"></td>
                                            <td>
                                                <a href="{{url_for('prefall_blueprint.editar_detalles_clinicos', id=paciente['id'])}}" class="label theme-bg text-white f-12">Editar</a>
                                            </td>
                                        </tr>                           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form method=post enctype=multipart/form-data>
                        <div class="form-group">
                            {{ formFile.csrf_token }}
                            {{formFile.file.label}}
                            {{formFile.file(class="form-control-file")}}
                            <br>
                            {{formFile.submitUploadFile(class="label theme-bg text-white f-12 btn-rounded")}}
                            {% if formFile.file.errors %}
                                <ul class=errors>
                                {% for error in form.test.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </form>
                    {% if files|length > 0 %}
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Ficheros</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <form role="form" method="post" action="">
                                            {{ formFilterFile.csrf_token }}
                                            {{ render_table_field(formFilterFile.nombreFichero, "Nombre del fichero") }}
                                            <th class="center">{{formFilterFile.submitFilterFile(class="label theme-bg text-white f-12")}}</th>
                                        </form>
                                    </thead>
                                    <tbody>
                                        {% for file in files %}
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted center">{{file["filename"]}}</h6>
                                            </td>
                                            <td class="center"><a href="{{url_for('prefall_blueprint.download_file', file_id=file['id'])}}" class="label theme-bg text-white f-12">Descargar</a></td>
                                        </tr> 
                                        {% endfor %}                               
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <form method=post enctype=multipart/form-data>
                        <div class="form-group">
                            {{ formTest.csrf_token }}
                            {{formTest.test.label}}
                            {{formTest.test(class="form-control-file")}}
                            <br>
                            {{formTest.submitUploadTest(class="label theme-bg text-white f-12 btn-rounded")}}
                            {% if formTest.test.errors %}
                                <ul class=errors>
                                {% for error in form.test.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </form>
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Test de la marcha</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">Numero</th>
                                            <th class="center">Fecha</th>
                                            <th class="text-right"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for test in tests %}
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted center">{{test["num_test"]}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center">{{test["date"]}}</h6>
                                            </td>
                                            <td class="center"><a href="{{url_for('prefall_blueprint.get_test', paciente=paciente['id'], test=test['num_test'])}}" class="label theme-bg text-white f-12">Descargar</a></td>
                                        </tr> 
                                        {% endfor %}                               
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
