{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Detalles clinicos {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Datos del paciente</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Nombre</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{ paciente["nombre"] ~ ' ' ~ paciente["apellidos"] }}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Género</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["sexo"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">CIF/NIF</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["identificador"]}}</h6>
                                            </td>
                                        </tr>    
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Centro</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente.centro.nombreFiscal}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Fecha de registro</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["create_datetime"]}}</h6>
                                            </td>
                                        </tr>                          
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form method=post enctype=multipart/form-data>
                        <div class="form-group">
                            {{ formTest.csrf_token }}
                            {{formTest.test.label}}
                            {{formTest.test(class="form-control-file")}}
                            <br>
                            {{formTest.submitUploadTest(class="label theme-bg text-white f-12 btn-rounded")}}
                            {% if formTest.test.errors %}
                                <ul class=errors>
                                {% for error in form.test.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </form>
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Documentos</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">#Test</th>
                                            <th class="center">Fecha</th>
                                            <th class="center">Medico</th>
                                            <th class="center">Revisado</th>
                                            <th class="center">Diagnosticado</th>
                                            <th class="center">Fichero</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for test, accion in tests %}
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted center">{{test["num_test"]}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center">{{test["date"].strftime('%Y-%m-%d %H:%M:%S')}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center">{{test.medico.nombre ~ ' ' ~ test.medico.apellidos}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center">
                                                    {% if test.probabilidad_caida is not none %}
                                                        Si
                                                    {% else %}
                                                        No
                                                    {% endif %}
                                                </h6>                                                
                                            </td>
                                            <td>
                                                <h6 class="text-muted center">
                                                    {% if accion.diagnostico is not none %}
                                                        Si
                                                    {% else %}
                                                        No
                                                    {% endif %}
                                                </h6>
                                            </td>
                                            <td class="center"><a href="{{url_for('prefall_blueprint.get_test', paciente=paciente['id'], test=test['num_test'])}}" class="label theme-bg text-white f-12">Descargar</a></td>
                                        </tr> 
                                        {% endfor %}                               
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination">
                                {% if current_page > 1 %}
                                    <a href="{{ url_for('prefall_blueprint.detalles_clinicos', id=paciente.id, page=current_page-1) }}" class="page-link">Previous</a>
                                {% else %}
                                    <span class="page-link disabled">Previous</span>
                                {% endif %}
                            
                                {% for page_num in range(1, total_pages + 1) %}
                                    {% if current_page == page_num %}
                                        <span class="page-link current">{{ page_num }}</span>
                                    {% else %}
                                        <a href="{{ url_for('prefall_blueprint.detalles_clinicos', id=paciente.id, page=page_num) }}" class="page-link">{{ page_num }}</a>
                                    {% endif %}
                                {% endfor %}
                            
                                {% if current_page < total_pages %}
                                    <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', id=paciente.id, page=current_page+1) }}" class="page-link">Next</a>
                                {% else %}
                                    <span class="page-link disabled">Next</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Editar paciente</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Nombre</h6>
                                            </td>
                                            <td>
                                                <div id="nombre" class="d-flex justify-content-between align-items-center">
                                                    <h6 class="text-muted">{{ paciente['nombre'] }}</h6>
                                                    <button onclick="editarCampo({{ paciente.id }}, 'nombre', 20)">...</button>
                                                </div>                                                
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Apellidos</h6>
                                            </td>
                                            <td>
                                                <div id="apellidos" class="d-flex justify-content-between align-items-center">
                                                    <h6 class="text-muted">{{ paciente['apellidos'] }}</h6>
                                                    <button onclick="editarCampo({{ paciente.id }}, 'apellidos', 30)">...</button>
                                                </div>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">CIF/NIF</h6>
                                            </td>
                                            <td>
                                                <div id="identificador" class="d-flex justify-content-between align-items-center">
                                                    <h6 class="text-muted">{{ paciente['identificador'] }}</h6>
                                                    <button onclick="editarCampo('{{ paciente.id }}', 'identificador', 10)">...</button>
                                                </div>
                                            </td>
                                        </tr>  
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Género</h6>
                                            </td>
                                            <td>
                                                <div id="sexo" class="d-flex justify-content-between align-items-center">
                                                    <h6 class="text-muted">{{ paciente['sexo'] }}</h6>
                                                    <button onclick="editarGenero('{{ paciente.id }}', 'sexo')">...</button>
                                                </div>
                                            </td>
                                        </tr>   
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Centro</h6>
                                            </td>
                                            <td>
                                                <div id="centro" class="d-flex justify-content-between align-items-center">
                                                    <h6 class="text-muted">{{ paciente.centro.nombreFiscal }}</h6>
                                                    <button onclick="editarCentro('{{ paciente.id }}', 'centro')">...</button>
                                                </div>
                                            </td>
                                        </tr>                                        
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Fecha de registro</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{paciente["create_datetime"]}}</h6>
                                            </td>
                                        </tr>   
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Contraseña</h6>
                                            </td>
                                            <td>
                                                <div id="password" class="d-flex justify-content-between align-items-center">
                                                    <h6 class="text-muted">*******</h6>
                                                    <button onclick="editarCampo('{{ paciente.id }}', 'password')">...</button>
                                                </div>
                                            </td>
                                        </tr>                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <script>
                        function editarCampo(id, campo, maxlength) {
                            const campoDiv = document.getElementById(campo);
                            const texto = campoDiv.querySelector('h6').innerText;
                            
                            campoDiv.innerHTML = `
                                <input type="text" id="nuevo_${campo}" value="${texto}" maxlength="${maxlength}">
                                <button onclick="guardarEdicionCampo('${id}', '${campo}')">Guardar</button>
                            `;
                        }
                    
                        function guardarEdicionCampo(id, campo) {
                            const nuevoValor = document.getElementById(`nuevo_${campo}`).value;

                            // Envía el nuevo valor y el campo editado al servidor
                            fetch(`/editar_paciente/${id}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                },
                                body: `nuevo_valor=${nuevoValor}&campo_editado=${campo}`,
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Actualiza la vista en el cliente
                                const campoDiv = document.getElementById(campo);
                                campoDiv.innerHTML = `
                                    <h6 class="text-muted">${data.nuevo_valor}</h6>
                                    <button onclick="editarCampo({{ paciente.id }}, '${campo}')">...</button>
                                `;
                            })
                            .catch(error => {
                                console.error('Error al actualizar el campo:', error);
                            });
                        }
                    </script>   
                    <script>
                        function editarGenero(id, campo) {
                            const campoDiv = document.getElementById(campo);
                            const genero = campoDiv.querySelector('h6').innerText;

                            // Crea un select para elegir el nuevo género
                            const selectGenero = document.createElement('select');
                            selectGenero.innerHTML = `
                                <option value="V" ${genero === 'V' ? 'selected' : ''}>V</option>
                                <option value="M" ${genero === 'M' ? 'selected' : ''}>M</option>
                            `;

                            // Crea un botón para guardar la edición
                            const guardarBoton = document.createElement('button');
                            guardarBoton.textContent = 'Guardar';
                            guardarBoton.onclick = () => guardarEdicionGenero(id, campo, selectGenero.value);

                            // Reemplaza el contenido actual con el select y el botón
                            campoDiv.innerHTML = '';
                            campoDiv.appendChild(selectGenero);
                            campoDiv.appendChild(guardarBoton);
                        }

                        function guardarEdicionGenero(id, campo, nuevoValor) {
                            // Envía el nuevo valor y el campo editado al servidor
                            fetch(`/editar_paciente/${id}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                },
                                body: `nuevo_valor=${nuevoValor}&campo_editado=${campo}`,
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Actualiza la vista en el cliente
                                const campoDiv = document.getElementById(campo);
                                campoDiv.innerHTML = `
                                    <h6 class="text-muted">${data.nuevo_valor}</h6>
                                    <button onclick="editarGenero('${id}', '${campo}')">...</button>
                                `;
                            })
                            .catch(error => {
                                console.error('Error al actualizar el campo:', error);
                            });
                        }
                    </script>  
                    <script>
                        function editarCentro(id, campo) {
                            const campoDiv = document.getElementById(campo);
                            const centro = campoDiv.querySelector('h6').innerText;

                            fetch('/obtener_centros')
                                .then(response => response.json())
                                .then(data => {
                                    const selectCentro = document.createElement('select');
                                    data.centros.forEach(center => {
                                        const option = document.createElement('option');
                                        option.value = center.id;
                                        option.textContent = center.nombre;
                                        if (center.id === centro) {
                                            option.selected = true;
                                        }
                                        selectCentro.appendChild(option);
                                    });

                                    const guardarBoton = document.createElement('button');
                                    guardarBoton.textContent = 'Guardar';
                                    guardarBoton.onclick = () => guardarEdicionCentro(id, campo, selectCentro.value);

                                    campoDiv.innerHTML = '';
                                    campoDiv.appendChild(selectCentro);
                                    campoDiv.appendChild(guardarBoton);
                                })
                                .catch(error => {
                                    console.error('Error al obtener la lista de centros:', error);
                                });
                        }


                        function guardarEdicionCentro(id, campo, nuevoValor) {
                            fetch(`/editar_paciente/${id}`, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/x-www-form-urlencoded',
                                },
                                body: `nuevo_valor=${nuevoValor}&campo_editado=${campo}`,
                            })
                            .then(response => response.json())
                            .then(data => {
                                const campoDiv = document.getElementById(campo);
                                campoDiv.innerHTML = `
                                    <h6 class="text-muted">${data.nuevo_valor}</h6>
                                    <button onclick="editarCentro('${id}', '${campo}')">...</button>
                                `;
                            })
                            .catch(error => {
                                console.error('Error al actualizar el campo:', error);
                            });
                        }
                    </script>      
                    <div id="charts" class="chart"></div>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script type='text/javascript'>
                        var start_time = Date.now()
                        var graphs = {{graphJSON | safe}};
                        Plotly.plot('charts',graphs,{});
                        console.log("Time plot= " + (Date.now() - start_time))
                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
