{% extends "layouts/base.html" %}

{% block title %} Detalles personales {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card-header">
                        <h5>Detalles personales</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="unread">
                                        <td>
                                            <h6 class="text-muted">Nombre</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">{{paciente["nombre"]}}</h6>
                                        </td>
                                    </tr> 
                                    <tr class="unread">
                                        <td>
                                            <h6 class="text-muted">Fecha de nacimiento</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">{{paciente["fecha_nacimiento"]}}</h6>
                                        </td>
                                    </tr> 
                                    <tr class="unread">
                                        <td>
                                            <h6 class="text-muted">Sexo</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">{{paciente["sexo"]}}</h6>
                                        </td>
                                    </tr> 
                                    <tr class="unread">
                                        <td>
                                            <h6 class="text-muted">Altura</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">{{paciente["altura"]}}</h6>
                                        </td>
                                    </tr> 
                                    <tr class="unread">
                                        <td>
                                            <h6 class="text-muted">Peso</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-muted">{{paciente["peso"]}}</h6>
                                        </td>
                                    </tr>                            
                                </tbody>
                            </table>
                            <a href="{{url_for('prefall_blueprint.editar_detalles_personales', id=paciente['id'])}}" class="label theme-bg text-white f-12">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
