{% extends "prefall/detalles_centro.html" %}

{% block after_tables %}
{% if admin is none %}
<a href="{{url_for('prefall_blueprint.crear_admin_centro', id=centro['id'])}}" class="label theme-bg text-white f-12 btn-rounded">Crear administrador</a>
{% else %}
<div class="card Recent-Users">
    <div class="card-header">
        <h5>Administrador del centro</h5>
    </div>
    <div class="card-block px-0 py-3">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Fecha nacimiento</th>
                        <th class="text-right"></th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="unread">
                        <td>
                            <h6 class="text-muted">{{admin["nombre"]}}</h6>
                        </td>
                        <td>
                            <h6 class="text-muted">{{admin["apellidos"]}}</h6>
                        </td>
                        <td>
                            <h6 class="text-muted">{{admin["identificador"]}}</h6>
                        </td>
                        <td>
                            <h6 class="text-muted">{{admin["fecha_nacimiento"]}}</h6>
                        </td>
                        <td><a href="{{url_for('prefall_blueprint.borrar_admin', id_centro=centro['id'], id_user=admin['id'])}}" class="label theme-bg text-white f-12">Borrar</a></td>
                    </tr>                           
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}