{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_field_with_label, render_field %}

{% block title %} Detalles test {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Detalles test</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Número de test</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{test["num_test"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Fecha</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{test["date"]}}</h6>
                                            </td>
                                        </tr>
                                        {% if test["diagnostico"] is not none %}
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Diagnostico</h6>
                                            </td>
                                            <td>
                                                {{test.diagnostico|safe}}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if test["diagnostico"] is none %}
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Diagnosticar test</h5>
                        </div>
                        <form role="form" method="post" action="">
                            {{ form.csrf_token }}
                            {{form.diagnostico()}}
                            {{form.submitDiagnosticoTest(class="label theme-bg text-white f-12 btn-rounded")}}
                        </form>
                        {{ ckeditor.load() }}
                        {{ ckeditor.config(name='diagnostico') }}
                    </div>
                    {% endif %}
                    <a href="{{url_for('prefall_blueprint.get_test', paciente=test['id_paciente'], test=test['num_test'])}}" class="label theme-bg text-white f-12 btn-rounded">Descargar</a>
                    <br>
                    <br>
                    <div id="acc" class="img-fluid" width="100%" height="100%"></div>
                    <div id="gyr" class="img-fluid" width="100%" height="100%"></div>
                    <div id="mag" class="img-fluid" width="100%" height="100%"></div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
                    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="/static/assets/js/plot.js" paciente={{test["id_paciente"]}} num_test={{test["num_test"]}}></script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}