{% extends "layouts/base.html" %}

{% block title %} Detalles clinicos {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Detalles centro</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th class="text-right"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">CIF</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["cif"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Nombre fiscal</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["nombreFiscal"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Dirección</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["direccion"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">CP</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["CP"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Ciudad</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["ciudad"]}}</h6>
                                            </td>
                                        </tr>  
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Provincia</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["provincia"]}}</h6>
                                            </td>
                                        </tr>   
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">País</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{centro["pais"]}}</h6>
                                            </td>
                                        </tr>
                                        <tr class="unread">
                                            <td class="text-right"></td>
                                            <td>
                                                <a href="{{url_for('prefall_blueprint.editar_detalles_centro', id_centro=centro['id'])}}" class="label theme-bg text-white f-12">Editar</a>
                                            </td>
                                        </tr>                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Usuarios del centro</h5>
                        </div>
                        <div id="tabulator-users"></div>
                    </div>
                    {% block after_tables %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var usersData = {{ users_data | tojson | safe }};
        var columns = [
            { 
                title: "Tipo de usuario", 
                field: "role",
                headerFilter: "list",
                headerFilterParams: {
                    values: [
                        { label: "Todos", value: ""},
                        { label: "Pacientes", value: "paciente" },
                        { label: "Médicos", value: "medico" },
                        { label: "Auxiliares", value: "auxiliar" },
                    ],
                },
            },
            { title: "Fecha nacimiento", field: "fecha_nacimiento", headerFilter:true },
            { title: "Nombre", field: "nombre", headerFilter:true },
            { title: "Apellidos", field: "apellidos", headerFilter:true },
            { title: "DNI", field: "identificador", headerFilter:true },
            {
                title: "",
                field: "id", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    const postId = cell.getValue(); 
                    
                    const button = document.createElement("button");
                    button.textContent = "Borrar";
                    button.addEventListener("click", function () {
                    fetch("/borrar_usuario/" + postId, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        }
                    })
                        .then(response => {
                        if (response.ok) {
                            response.json().then(data => {
                                console.log("Received data:", data);
                            });
                        } else {
                            console.error("Error getting data");
                        }
                        })
                        .catch(error => {
                        console.error("Error:", error);
                        });
                    });

                    // Return the button element
                    return button;
                }
            },
        ];

        var table = new Tabulator("#tabulator-users", {
            data: usersData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:5,
            paginationCounter:"rows",
            movableColumns:true,
        });
    </script>
{% endblock %}
