{% extends "layouts/base-fullscreen.html" %}
{% from "includes/_form_helpers.html" import render_field_with_label_and_placeholder %}

{% block title %} Editar detalles personales {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Editar detalles personales</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            {{ msg | safe }}
                        {% else %}
                            
                        {% endif %} 
                    </span>

                    <br />
                    <br />
                    
                    <form role="form" method="post" action="">

                        {{ form.hidden_tag() }}                    

                        {{ render_field_with_label_and_placeholder(form.identificador, paciente["identificador"]) }}
                        {{ render_field_with_label_and_placeholder(form.nombre, paciente["nombre"]) }}
                        {{ render_field_with_label_and_placeholder(form.password, "contraseña") }}
                        {{ render_field_with_label_and_placeholder(form.fecha, paciente["fecha_nacimiento"]) }}
                        {{ render_field_with_label_and_placeholder(form.sexo, paciente["sexo"]) }}
                        {{ render_field_with_label_and_placeholder(form.altura, paciente["altura"]) }}
                        {{ render_field_with_label_and_placeholder(form.peso, paciente["peso"]) }}
                        
                        
                        <button type="submit" name="editar_detalles_personales" class="btn btn-primary shadow-2 mb-4">Editar</button>

                    </form>

                    <br />
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
