{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Lista de pacientes {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <h5 class="card-title center">Centro médico: {{current_user.centro.nombreFiscal}}</h5>
                    <div class="card-Recent-Users">
                        <div class="card-header">
                            <h5>Tests de la marcha</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div id="tabulator-tests"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var pacienteId = {{ current_user.id }}; 
        var testsData = {{ tests_data | tojson | safe }};
        var columns = [
            { title: "Numero", field: "num_test", headerFilter:true },
            { title: "Fecha", field: "date", headerFilter:true },
            {
                title: "",
                field: "num_test", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    var num_test = cell.getValue(); // Get medico ID from the cell value

                    var url = "/ver_detalles_test/" + pacienteId + "/" + num_test;

                    var link = document.createElement("a");
                    link.href = url;
                    link.className = "label theme-bg text-white f-12";
                    link.textContent = "Ver detalles";

                    return link;
                }
            }
        ];

        var table = new Tabulator("#tabulator-tests", {
            data: testsData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:10,
            paginationCounter:"rows",
            movableColumns:true,
        });
    </script>

{% endblock %}
