{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Inicio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <h5 class="card-title center">Centro médico: {{current_user.centro.nombreFiscal}}</h5>
                    <div class="card">
                        <div class="card-block border-bottom">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                </div>
                                <div class="col" id="test-sin-revisar">
                                    <h3 class="f-w-300">{{test_sin_revisar|length}}</h3>
                                    <span class="d-block text-uppercase">Test sin revisar</span>
                                </div>
                                <div class="col-auto">
                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                </div>
                                <div class="col" id="test-sin-diagnosticar">
                                    <h3 class="f-w-300">{{test_sin_diagnosticar|length}}</h3>
                                    <span class="d-block text-uppercase">Test sin diagnosticar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="test-sin-revisar-popup" class="popup">
                        <div class="popup-content">
                            <div id="test-sin-revisar-table"></div>
                        </div>
                    </div>  
                    <div id="test-sin-diagnosticar-popup" class="popup">
                        <div class="popup-content">
                            <div id="test-sin-diagnosticar-table"></div>
                        </div>
                    </div>                  
                    <div class="card-Recent-Users">
                        <div class="card-header">
                            <h5>Pacientes</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center equal-width-4-90">Id</th>
                                            <th class="center equal-width-4-90">Apellidos</th>
                                            <th class="center equal-width-4-90">Nombre</th>
                                            <th class="center equal-width-4-90">CIF/NIF</th>
                                            <th class="center equal-width-4-90">Centro</th>
                                            <th class="center equal-width-4-90">Fecha de registro</th>
                                            <th class="text-right equal-width-4-90"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for paciente in pacientes %}
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted center remove-margins">{{paciente["identificador"]}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center remove-margins">{{paciente["apellidos"]}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center remove-margins">{{paciente["nombre"]}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center remove-margins">{{paciente["identificador"]}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center remove-margins">{{paciente.centro.nombreFiscal}}</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted center remove-margins">{{paciente["create_datetime"]}}</h6>
                                            </td>
                                            <td class="center"><a href="{{url_for('prefall_blueprint.detalles_clinicos', id=paciente['id'])}}" class="label theme-bg text-white f-12 center">Ver detalles</a></td>
                                        </tr> 
                                        {% endfor %}                               
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="pagination">
                            {% if current_page > 1 %}
                                <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', page=current_page-1) }}" class="page-link">Previous</a>
                            {% else %}
                                <span class="page-link disabled">Previous</span>
                            {% endif %}
                        
                            {% for page_num in range(1, total_pages + 1) %}
                                {% if current_page == page_num %}
                                    <span class="page-link current">{{ page_num }}</span>
                                {% else %}
                                    <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', page=page_num) }}" class="page-link">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                        
                            {% if current_page < total_pages %}
                                <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', page=current_page+1) }}" class="page-link">Next</a>
                            {% else %}
                                <span class="page-link disabled">Next</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>       
        var testSinRevisar = document.getElementById("test-sin-revisar");
        var popupRevisar = document.getElementById("test-sin-revisar-popup");

        function showPopupRevisar() {
            popupRevisar.style.display = "block";
        }

        testSinRevisar.addEventListener("click", showPopupRevisar);

        popupRevisar.addEventListener("click", function(event) {
            if (event.target === popupRevisar) {
                popupRevisar.style.display = "none";
            }
        });

        var testSinRevisar = {{ test_sin_revisar|tojson|safe }};


        function renderTableRevisar() {
            var testTable = new Tabulator("#test-sin-revisar-table", {
                data: testSinRevisar, 
                columns: [
                    { title: "Num Test", field: "num_test" },
                    { title: "Fecha", field: "date" },
                    {
                        title: "Nombre médico",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var fullName = rowData.nombre_medico + " " + rowData.apellidos_medico;

                            return fullName;
                        },
                    },
                    {
                        title: "Revisar",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var url = generateRevisarURL(rowData.id_paciente, rowData.num_test);

                            var button = document.createElement("a");
                            button.href = url;
                            button.className = "btn btn-primary";
                            button.textContent = "Revisar";

                            return button;
                        },
                    },
                ],
                layout:"fitColumns",
                responsiveLayout:"hide",
                pagination: "local",
                paginationSize:5,
                paginationCounter:"rows",
                movableColumns:true,
            });
        }

        function generateRevisarURL(id_paciente, num_test) {
            return `/detalles_test/${id_paciente}/${num_test}`;
        }

        renderTableRevisar();

    </script>
    <script>       
        var testSinDiagnosticar = document.getElementById("test-sin-diagnosticar");
        var popupDiagnosticar = document.getElementById("test-sin-diagnosticar-popup");

        // Function to show the popup
        function showPopupDiagnosticar() {
            popupDiagnosticar.style.display = "block";
        }

        testSinDiagnosticar.addEventListener("click", showPopupDiagnosticar);

        popupDiagnosticar.addEventListener("click", function(event) {
            if (event.target === popupDiagnosticar) {
                popupDiagnosticar.style.display = "none";
            }
        });

        var testSinDiagnosticar = {{ test_sin_diagnosticar|tojson|safe }};

        function renderTableDiagnosticar() {
            var testTable = new Tabulator("#test-sin-diagnosticar-table", {
                data: testSinDiagnosticar, 
                columns: [
                    { title: "Num Test", field: "num_test" },
                    { title: "Fecha", field: "date" },
                    {
                        title: "Nombre médico",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var fullName = rowData.nombre_medico + " " + rowData.apellidos_medico;

                            return fullName;
                        },
                    },
                    {
                        title: "Revisar",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var url = generateDiagnosticarURL(rowData.id_paciente, rowData.num_test);

                            var button = document.createElement("a");
                            button.href = url;
                            button.className = "btn btn-primary";
                            button.textContent = "Revisar";

                            return button;
                        },
                    },
                ],
                layout:"fitColumns",
                responsiveLayout:"hide",
                pagination: "local",
                paginationSize:5,
                paginationCounter:"rows",
                movableColumns:true,
            });
        }

        function generateDiagnosticarURL(id_paciente, num_test) {
            return `/detalles_test/${id_paciente}/${num_test}`;
        }

        renderTableDiagnosticar();

    </script>

{% endblock %}
