{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_table_field %}

{% block title %} Inicio {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <h5 class="card-title center">Centro médico: {{current_user.centro.nombreFiscal}}</h5>
                    <div class="card">
                        <div class="card-block border-bottom">
                            <div class="row d-flex align-items-center">
                                <div class="col-auto">
                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                </div>
                                <div class="col custom-tooltip" id="test-sin-revisar">
                                    <h3 class="f-w-300">{{test_sin_revisar|length}}</h3>
                                    <span class="d-block text-uppercase">Test sin revisar</span>
                                    <span class="tooltiptext">Click para ver</span>
                                </div>
                                <div class="col-auto">
                                    <i class="feather icon-zap f-30 text-c-green"></i>
                                </div>
                                <div class="col custom-tooltip" id="test-sin-diagnosticar">
                                    <h3 class="f-w-300">{{test_sin_diagnosticar|length}}</h3>
                                    <span class="d-block text-uppercase">Test sin diagnosticar</span>
                                    <span class="tooltiptext">Click para ver</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="test-sin-revisar-popup" class="popup">
                        <div class="popup-content">
                            <div id="test-sin-revisar-table"></div>
                        </div>
                    </div>  
                    <div id="test-sin-diagnosticar-popup" class="popup">
                        <div class="popup-content">
                            <div id="test-sin-diagnosticar-table"></div>
                        </div>
                    </div>                  
                    <div class="card-Recent-Users">
                        <div class="card-header">
                            <h5>Pacientes</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div id="tabulator-pacientes"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var usersData = {{ pacientes_data | tojson | safe }};
        var columns = [
            { title: "Id", field: "id", headerFilter:true },
            { title: "DNI", field: "identificador", headerFilter:true },
            { title: "Nombre", field: "nombre", headerFilter:true },
            { title: "Apellidos", field: "apellidos", headerFilter:true },
            { title: "Tests sin revisar", field: "tests_sin_revisar", headerFilter:true },
            { title: "Tests sin diagnosticar", field: "tests_sin_diagnosticar", headerFilter:true },
            { title: "Centro", field: "centro", headerFilter:true },
            { title: "Fecha registro", field: "fecha_registro", headerFilter:true },
            {
                title: "",
                field: "id", // Replace with the appropriate field that holds the ID
                headerSort: false,
                formatter: function (cell) {
                    return '<a href="/detalles_clinicos/' + cell.getValue() + '" class="label theme-bg text-white f-12 center">Ver detalles</a>';
                }
            }
        ];

        var table = new Tabulator("#tabulator-pacientes", {
            data: usersData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:10,
            paginationCounter:"rows",
            movableColumns:true,
        });
    </script>
    <script>       
        var testSinRevisar = document.getElementById("test-sin-revisar");
        var popupRevisar = document.getElementById("test-sin-revisar-popup");

        function showPopupRevisar() {
            popupRevisar.style.display = "block";
        }

        testSinRevisar.addEventListener("click", showPopupRevisar);

        testSinRevisar

        popupRevisar.addEventListener("click", function(event) {
            if (event.target === popupRevisar) {
                popupRevisar.style.display = "none";
            }
        });

        var testSinRevisar = {{ test_sin_revisar|tojson|safe }};


        function renderTableRevisar() {
            var testTable = new Tabulator("#test-sin-revisar-table", {
                data: testSinRevisar, 
                columns: [
                    { title: "Num Test", field: "num_test" },
                    { title: "Fecha", field: "date" },
                    {
                        title: "Nombre médico",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var fullName = rowData.nombre_medico + " " + rowData.apellidos_medico;

                            return fullName;
                        },
                    },
                    {
                        title: "Revisar",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var url = generateRevisarURL(rowData.id_paciente, rowData.num_test);

                            var button = document.createElement("a");
                            button.href = url;
                            button.className = "btn btn-primary";
                            button.textContent = "Revisar";

                            return button;
                        },
                    },
                ],
                layout:"fitColumns",
                responsiveLayout:"hide",
                pagination: "local",
                paginationSize:5,
                paginationCounter:"rows",
                movableColumns:true,
            });
        }

        function generateRevisarURL(id_paciente, num_test) {
            return `/detalles_test/${id_paciente}/${num_test}`;
        }

        renderTableRevisar();

    </script>
    <script>       
        var testSinDiagnosticar = document.getElementById("test-sin-diagnosticar");
        var popupDiagnosticar = document.getElementById("test-sin-diagnosticar-popup");

        // Function to show the popup
        function showPopupDiagnosticar() {
            popupDiagnosticar.style.display = "block";
        }

        testSinDiagnosticar.addEventListener("click", showPopupDiagnosticar);

        popupDiagnosticar.addEventListener("click", function(event) {
            if (event.target === popupDiagnosticar) {
                popupDiagnosticar.style.display = "none";
            }
        });

        var testSinDiagnosticar = {{ test_sin_diagnosticar|tojson|safe }};

        function renderTableDiagnosticar() {
            var testTable = new Tabulator("#test-sin-diagnosticar-table", {
                data: testSinDiagnosticar, 
                columns: [
                    { title: "Num Test", field: "num_test" },
                    { title: "Fecha", field: "date" },
                    {
                        title: "Nombre médico",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var fullName = rowData.nombre_medico + " " + rowData.apellidos_medico;

                            return fullName;
                        },
                    },
                    {
                        title: "Revisar",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            
                            var url = generateDiagnosticarURL(rowData.id_paciente, rowData.num_test);

                            var button = document.createElement("a");
                            button.href = url;
                            button.className = "btn btn-primary";
                            button.textContent = "Revisar";

                            return button;
                        },
                    },
                ],
                layout:"fitColumns",
                responsiveLayout:"hide",
                pagination: "local",
                paginationSize:5,
                paginationCounter:"rows",
                movableColumns:true,
            });
        }

        function generateDiagnosticarURL(id_paciente, num_test) {
            return `/detalles_test/${id_paciente}/${num_test}`;
        }

        renderTableDiagnosticar();

    </script>

{% endblock %}
