{% extends "layouts/plots_base.html" %}

{% block plots %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <form id="pacienteForm" method="POST">
                        {{ formEvolucionProbCaida.hidden_tag() }}
                        {{ formEvolucionProbCaida.selected_element.label }}
                        {{ formEvolucionProbCaida.selected_element }}
                        <br>
                        {{ formEvolucionProbCaida.submit }}
                    </form>
                    <div id="chartEvolucionProbCaida" class="chart"></div>
                    <div class="pagination">
                        <button onclick="showDiv('acelerometro')">Acelerómetro</button>
                        <button onclick="showDiv('giroscopio')">Giroscopio</button>
                        <button onclick="showDiv('magnetometro')">Magnetómetro</button>
                    </div>
                      
                    <div id="acelerometro" class="chart" style="display: block;"></div>
                    <div id="giroscopio" class="chart" style="display: none;"></div>
                    <div id="magnetometro" class="chart" style="display: none;"></div>                      
                </div>
            </div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script type='text/javascript'>
                var start_time = Date.now()
                var graphs = {{graphEvolucionProbCaida | safe}};
                Plotly.plot('chartEvolucionProbCaida',graphs,{});
                console.log("Time plot= " + (Date.now() - start_time))
            </script>
            <script type='text/javascript'>
                var start_time = Date.now()
                var graphs = {{graphAcc | safe}};
                Plotly.plot('acelerometro',graphs,{});
                console.log("Time plot= " + (Date.now() - start_time))
            </script>
            <script type='text/javascript'>
                var start_time = Date.now()
                var graphs = {{graphGyr | safe}};
                Plotly.plot('giroscopio',graphs,{});
                console.log("Time plot= " + (Date.now() - start_time))
            </script>
            <script type='text/javascript'>
                var start_time = Date.now()
                var graphs = {{graphMag | safe}};
                Plotly.plot('magnetometro',graphs,{});
                console.log("Time plot= " + (Date.now() - start_time))
            </script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                function showDiv(pageName) {
                  // Ocultar todos los divs
                  document.getElementById('acelerometro').style.display = 'none';
                  document.getElementById('giroscopio').style.display = 'none';
                  document.getElementById('magnetometro').style.display = 'none';
              
                  // Mostrar el div correspondiente a la página seleccionada
                  document.getElementById(pageName).style.display = 'block';
                }
            </script>
              
        </div>
    </div>

{% endblock %}
