{% extends "layouts/base.html" %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div id="chartEvolucionProbCaida" class="chart"></div>
                </div>
            </div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            {% if graphEvolucionProbCaida %}
            <script type='text/javascript'>
                var start_time = Date.now()
                var graphs = {{graphEvolucionProbCaida | safe}};
                Plotly.plot('chartEvolucionProbCaida',graphs,{});
                console.log("Time plot= " + (Date.now() - start_time))
            </script>
            {% endif %}
        </div>
    </div>

{% endblock %}
