{% extends "layouts/base.html" %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="card-Recent-Users">
                <div class="card-header">
                    <h5>Pacientes</h5>
                </div>
                <div class="card-block px-0 py-3">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="center equal-width-4-90">Id</th>
                                    <th class="center equal-width-4-90">Apellidos</th>
                                    <th class="center equal-width-4-90">Nombre</th>
                                    <th class="center equal-width-4-90">CIF/NIF</th>
                                    <th class="center equal-width-4-90">Centro</th>
                                    <th class="text-right equal-width-4-90"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paciente in pacientes %}
                                <tr class="unread">
                                    <td>
                                        <h6 class="text-muted center remove-margins">{{paciente["identificador"]}}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-muted center remove-margins">{{paciente["apellidos"]}}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-muted center remove-margins">{{paciente["nombre"]}}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-muted center remove-margins">{{paciente["identificador"]}}</h6>
                                    </td>
                                    <td>
                                        <h6 class="text-muted center remove-margins">{{paciente.centro.nombreFiscal}}</h6>
                                    </td>
                                    <td class="center">
                                        <a class="label theme-bg text-white f-12 center plotear-button" data-paciente-id="{{ paciente.id }}">Plotear</a>
                                    </td>
                                </tr> 
                                {% endfor %}                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination">
                    {% if current_page > 1 %}
                        <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', page=current_page-1) }}" class="page-link">Previous</a>
                    {% else %}
                        <span class="page-link disabled">Previous</span>
                    {% endif %}
                
                    {% for page_num in range(1, total_pages + 1) %}
                        {% if current_page == page_num %}
                            <span class="page-link current">{{ page_num }}</span>
                        {% else %}
                            <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', page=page_num) }}" class="page-link">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}
                
                    {% if current_page < total_pages %}
                        <a href="{{ url_for('prefall_blueprint.pantalla_principal_medico', page=current_page+1) }}" class="page-link">Next</a>
                    {% else %}
                        <span class="page-link disabled">Next</span>
                    {% endif %}
                </div>
            </div>
            <div id="pagination" class="pagination"></div>
            <div id="chartContainer"></div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        lastGraph = null
        function plotGraph(graphDivId, graphData) {
            var start_time = Date.now()
            Plotly.plot(graphDivId, graphData, {});
            console.log("Time plot= " + (Date.now() - start_time))
        }
        function showDiv(divId) {
            document.querySelectorAll('.chart').forEach(function(chartDiv) {
                chartDiv.style.display = 'none';
            });

            var selectedDiv = document.getElementById(divId);
            selectedDiv.style.display = 'block';

        }

        var paginationData = [
            { label: 'Acelerómetro', id: 'acelerometro' },
            { label: 'Giroscopio', id: 'giroscopio' },
            { label: 'Magnetometro', id: 'magnetometro' }
        ];

        function generateGraphDivs() {
            var paginationContainer = document.getElementById('pagination');
            var chartsContainer = document.getElementById('chartContainer');

            paginationData.forEach(function(item) {
                // Create a pagination button
                var button = document.createElement('button');
                button.textContent = item.label;
                button.onclick = function() {
                    showDiv(item.id);
                };
                paginationContainer.appendChild(button);

                // Create a chart div
                var chartDiv = document.createElement('div');
                chartDiv.id = item.id;
                chartDiv.className = 'chart';
                chartDiv.style.display = 'none';
                chartsContainer.appendChild(chartDiv);
            });
        }
        // Agrega un manejador de eventos a los botones "Plotear"
        const botonesPlotear = document.querySelectorAll('.plotear-button');
        botonesPlotear.forEach(boton => {
            boton.addEventListener('click', function () {
                // Obtén el ID del paciente desde el atributo de datos
                const idPaciente = boton.getAttribute('data-paciente-id');
                
                // Realiza una solicitud HTTP al backend con el ID del paciente
                fetch(`/plots/generar_paciente/${idPaciente}`, {
                    method: 'GET', // O el método que corresponda
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        console.error('Error en la solicitud al backend');
                    }
                })
                .then(data => {
                    if (data) {
                        if(lastGraph !== 'individual'){
                            generateGraphDivs();
                            lastGraph = 'individual';
                        }
                        
                        const graphDataAcc = data.acelerometro;
                        const graphDataGyr = data.giroscopio;
                        const graphDataMag = data.magnetometro;

                        
                        plotGraph('acelerometro', JSON.parse(graphDataAcc));
                        plotGraph('giroscopio', JSON.parse(graphDataGyr));
                        plotGraph('magnetometro', JSON.parse(graphDataMag));
                    }
                })
                .catch(error => {
                    console.error('Error en la solicitud al backend:', error);
                });
            });
        });
    </script>

{% endblock %}
