{% extends "layouts/base.html" %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div id="tabulator"></div>
            <div id="test-popup" class="popup">
                <div class="popup-content">
                    <h4 id="test-paciente"></h4>
                    <div id="test-table"></div>
                </div>
            </div>
            <div id="chartContainer"></div>
            <div id="pagination" class="pagination"></div>
            <div class="row">
                <button id="clearButton">
                    <img src="/static/assets/images/icons/limpiar.png" style="width: 50px; height: 50px;"/>
                </button>
                <button id="exportButton">
                    <img src="/static/assets/images/icons/exportar_pdf.png" style="width: 50px; height: 50px;"/>
                </button>
            </div>
            <div id="plots-individual"></div>
            <div id="plots-comparativa"></div>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/css/tabulator.min.css" integrity="sha512-HdUIebGeOK7s+At/fOnnbX8vsz6Cl1KTeiRlBiQABTMSqw7kZRCxGiUnuF9lr+1xz5y8pL7jkCR+NNtVVkEqKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.2/js/tabulator.min.js" integrity="sha512-oU2NOn7vXb9igwNelYL+57+t+zb3liitNE8/NXg8QFJhBCSvH+dt9+s3H02aM41FUF7WYWx0kPeFV5yIkm1MVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.js" integrity="sha512-n64ECd9pzrV9TwEhl/VV/MOLO6hiIYlzvpT0lx0CAjIUBXWHj8PoVstxzFoQ/5pI97kyBLL4U3PNMAJX+7F6vA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var pacientesData = {{ pacientes | tojson | safe }};

        var columns = [
            { title: "Id", field: "id" },
            { title: "Apellidos", field: "apellidos" },
            { title: "Nombre", field: "nombre" },
            { title: "CIF/NIF", field: "identificador" },
            { title: "Centro", field: "centro" },
            {
                title: "Individual",
                formatter: function(cell, formatterParams, onRendered) {
                    var rowData = cell.getRow().getData();
                    var button = document.createElement("button");
                    button.style.backgroundImage = 'url("/static/assets/images/icons/plotear.png")';
                    button.style.backgroundSize = 'contain';
                    button.style.backgroundRepeat = 'no-repeat';
                    button.style.width = '30px';
                    button.style.height = '30px';
                    button.addEventListener("click", function() {
                        fetchAndPlotData(rowData);
                    });
                    return button;
                },
            },
            {
                title: "Comparativa",
                formatter: function(cell, formatterParams, onRendered) {
                    var rowData = cell.getRow().getData();
                    var button = document.createElement("button");
                    button.style.backgroundImage = 'url("/static/assets/images/icons/comparativa.png")';
                    button.style.backgroundSize = 'contain';
                    button.style.backgroundRepeat = 'no-repeat';
                    button.style.width = '30px';
                    button.style.height = '30px';
                    button.addEventListener("click", function() {
                        fetchTestAndDisplay(rowData);
                    });
                    return button;
                },
            },
        ];

        var table = new Tabulator("#tabulator", {
            data: pacientesData,
            columns: columns,
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:5,
            paginationCounter:"rows",
            movableColumns:true,
        });
    </script>
    <script>
        const popup = document.getElementById('test-popup');
        function showPopup() {
            popup.style.display = 'block';
        }
        function closePopup() {
            popup.style.display = 'none';
        }

        
        function fetchTestAndDisplay(paciente) {
            fetch(`/get_tests/${paciente.id}`, {
                method: 'GET', 
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Error fetching test data');
                }
            })
            .then(testData => {
                alert("Seleccionado paciente " + paciente.nombre + " para comparativas");
                var title = document.getElementById("test-paciente");
                title.textContent = paciente.nombre + " " + paciente.apellidos + " " + paciente.identificador;
                displayTestsInTabulator(paciente, testData);
                alert("Selecciona los tests a comparar");
            })
            .catch(error => {
                console.error('Error fetching test data:', error);
            });
        }

        function displayTestsInTabulator(paciente, testData) {
            
            var testTable = new Tabulator("#test-table", {
                data: testData, 
                columns: [
                    { title: "Num Test", field: "num_test" },
                    { title: "Fecha", field: "date" },
                    {
                        title: "Añadir gráfico",
                        formatter: function(cell, formatterParams, onRendered) {
                            var rowData = cell.getRow().getData();
                            var button = document.createElement("button");
                            button.style.backgroundImage = 'url("/static/assets/images/icons/añadir.jpeg")';
                            button.style.backgroundSize = 'contain';
                            button.style.backgroundRepeat = 'no-repeat';
                            button.style.width = '30px';
                            button.style.height = '30px';
                            button.addEventListener("click", function() {
                                addTest(rowData.id_paciente, rowData.num_test);
                                alert("Añadiendo informes del test " + cell.getRow().getData().num_test + " del paciente " + paciente.nombre);
                            });
                            return button;
                        },
                    },
                ],
                layout:"fitColumns",
                responsiveLayout:"hide",
                pagination: "local",
                paginationSize:5,
                paginationCounter:"rows",
                movableColumns:true,
            });
            showPopup();
        }

        popup.addEventListener('click', function (event) {
            console.log(event.target)
            if (event.target === popup) {
                closePopup();
            }
        });

        function exportChartsToPDF() {
            var chartContainer = document.getElementById('chartContainer');
            var charts = chartContainer.querySelectorAll('.chart');
            var pdf = new jspdf.jsPDF('p', 'mm', 'a4');
            var options = {
                scale: 2,
                useCORS: true,
            };

            function addChartToPDF(chart) {
                chart.style.display = 'block';
                return html2canvas(chart, options).then(function(canvas) {
                    var imgData = canvas.toDataURL('image/png');
                    pdf.addImage(imgData, 'PNG', 10, 10, 190, 100);
                    pdf.addPage();
                    chart.style.display = 'none';
                });
            }
            var promises = Array.from(charts).map(addChartToPDF);

            Promise.all(promises).then(function() {
                pdf.deletePage(pdf.internal.getNumberOfPages());
                pdf.save('all_charts.pdf');
            });
        }

        var exportButton = document.getElementById('exportButton');

        exportButton.addEventListener('click', function() {
            exportChartsToPDF();
        });

        var clearButton = document.getElementById('clearButton');
        clearButton.addEventListener('click', function(){
            clearGraphDivs();
        });
    </script>
    <script>
        var graphDataIndividual = [
            { id: 0, chartData: {
                data: [],
                layout: {}
            }},
            { id: 1, chartData: {
                data: [],
                layout: {}
            }},
            { id: 2, chartData: {
                data: [],
                layout: {}
            }},
            { id: 3, chartData: {
                data: [],
                layout: {}
            }}
        ];
        var chartTableIndividual = new Tabulator("#plots-individual",{
            data: graphDataIndividual,
            columns: [
                {
                    title: "",
                    formatter: function(cell, formatterParams, onRendered) {
                        var chartID = cell.getRow().getData().chartID;
                        var chartData = cell.getRow().getData().chartData;

                        var divElement = document.createElement("div");
                        divElement.className = "chart";

                        Plotly.newPlot(divElement, chartData, {});

                        return divElement;
                    }
                }
            ],
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:1,
            paginationCounter:"rows",
            movableColumns:false,
        });

        var graphDataComparativa = [
            { id: 0, chartData: {
                data: [],
                layout: {}
            }},
            { id: 1, chartData: {
                data: [],
                layout: {}
            }},
            { id: 2, chartData: {
                data: [],
                layout: {}
            }},
            { id: 3, chartData: {
                data: [],
                layout: {}
            }}
        ];
        var chartTableComparativa = new Tabulator("#plots-comparativa",{
            data: graphDataComparativa,
            columns: [
                {
                    title: "",
                    formatter: function(cell, formatterParams, onRendered) {
                        var chartID = cell.getRow().getData().chartID;
                        var chartData = cell.getRow().getData().chartData;

                        var divElement = document.createElement("div");
                        divElement.className = "chart";

                        Plotly.newPlot(divElement, chartData, {});

                        return divElement;
                    }
                }
            ],
            layout:"fitColumns",
            responsiveLayout:"hide",
            pagination: "local",
            paginationSize:1,
            paginationCounter:"rows",
            movableColumns:false,
        });
    </script>
    <script>
        const indexAccIndividual = 1;
        const indexGyrIndividual = 2;
        const indexMagIndividual = 3;
        const indexProbCaidaIndividual = 0;
        function fetchAndPlotData(paciente){
            var divIndividual = document.getElementById("plots-individual");
            divIndividual.style.display = "none";
            var divComparativa = document.getElementById("plots-comparativa");
            divComparativa.style.display = "none";
            fetch(`/plots/generar_paciente/${paciente.id}`, {
                method: 'GET', 
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    console.error('Error en la solicitud al backend');
                }
            })
            .then(responseData => {
                console.log("plotting individual");
                chartTableIndividual.updateData([{ id: indexAccIndividual, chartData: responseData.acelerometro }]);
                chartTableIndividual.updateData([{ id: indexGyrIndividual, chartData: responseData.giroscopio }]);
                chartTableIndividual.updateData([{ id: indexMagIndividual, chartData: responseData.magnetometro }]);
                chartTableIndividual.updateData([{ id: indexProbCaidaIndividual, chartData: responseData.prob_caida }]);
                divIndividual.style.display = "block";
            })
            .catch(error => {
                console.error('Error en la solicitud al backend:', error);
            });
            alert("Generando informes del paciente " + paciente.nombre);
        }
    </script>
    <script>
        const indexAcc = 0;
        const indexGyr = 1;
        const indexMag = 2;
        const indexFases = 3;
        tests = []
        function addTest(id_paciente, num_test){
            var divIndividual = document.getElementById("plots-individual");
            divIndividual.style.display = "none";
            var divComparativa = document.getElementById("plots-comparativa");
            divComparativa.style.display = "none";
            obj = {paciente: id_paciente, test: num_test};
            tests.push(obj);
            var url = `/plots/generar_tests_medico/`;
            var requestData = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ tests: tests }),
            };
            fetch(url, requestData)
            .then(response => response.json()) // Parse the JSON response
            .then(responseData => {
                chartTableComparativa.updateData([{ id: indexAcc, chartData: responseData.plotAcc }]);
                chartTableComparativa.updateData([{ id: indexGyr, chartData: responseData.plotGyr }]);
                chartTableComparativa.updateData([{ id: indexMag, chartData: responseData.plotMag }]);
                chartTableComparativa.updateData([{ id: indexFases, chartData: responseData.plotFases }]);
                divComparativa.style.display = "block";
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

{% endblock %}
