{% extends "layouts/base.html" %}
{% from "includes/_form_helpers.html" import render_field_with_label %}

{% block title %} Ver detalles test {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Detalles test</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Número de test</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{test["num_test"]}}</h6>
                                            </td>
                                        </tr> 
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Fecha</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{test["date"]}}</h6>
                                            </td>
                                        </tr>
                                        <tr class="unread">
                                            <td>
                                                <h6 class="text-muted">Centro</h6>
                                            </td>
                                            <td>
                                                <h6 class="text-muted">{{test.centro.nombreFiscal}}</h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if diagnosticos|length > 0 %}
                    <div class="card Recent-Users">
                        <div class="card-header">
                            <h5>Diagnosticos</h5>
                        </div>
                        <div class="card-block px-0 py-3">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center small-column-2">Nombre del médico</th>
                                            <th class="center big-column-2">Diagnóstico</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for diagnostico in diagnosticos %}
                                        <tr class="unread">
                                            <td class="small-column-2">
                                                <h6 class="text-muted center">{{diagnostico["nombre"]}}</h6>
                                            </td>
                                            <td class="big-column-2 center"> 
                                                {{diagnostico.diagnostico|safe}}
                                            </td>
                                        </tr> 
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card-title center">
                        <h5>No se ha emitido un diagnóstico aún</h5>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}